@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DMXForGamers.Models.Main>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DMX For Gamers Remote Control</title>
    <link href="/Contents/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Contents/CSS/DMXForGamers.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <img class="mr-3 rounded" src="/Contents/Images/DMXForGamers.png" alt="DMX for Gamers" />
            <div class="lh-100">
                <h3 class="mb-0 text-white lh-100">DMX For Gamers</h3>
                <small>Remote Control</small>
            </div>
        </div>

        <div class="card m-4 box-shadow">
            <h2 class="card-header">Continuous Events</h2>
            <div class="card-body">
                <div class="d-flex flex-row flex-wrap my-flex-container">
                    @foreach (var item in Model.ContinuousEvents)
                    {
                        <form id="@item.EventID" class="m-2">
                            <button type="button" class="btn btn-primary btn-lg m-2" onclick="eventclickon('@item.EventID')">Enabled @item.EventID</button>
                            <button type="button" class="btn btn-secondary btn-lg m-2" onclick="eventclickoff('@item.EventID')">Disable @item.EventID</button>
                        </form>
                    }
                </div>
            </div>
        </div>

        <div class="card m-4 box-shadow">
            <h2 class="card-header">Non-Continuous Events</h2>
            <div class="card-body">
                <div class="d-flex flex-row flex-wrap my-flex-container">
                    @foreach (var item in Model.NonContinuousEvents)
                    {
                        <form id="@item.EventID">
                            <button type="button" class="btn btn-primary btn-lg m-2" onclick="eventclickon('@item.EventID')">@item.EventID</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Error Dialog-->
    <div class="modal fade" id="errorModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p id="errorModalText">Nothing set...</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("/Contents/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Contents/Bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript">
        function eventclickon(eventid) {
            $.getJSON("events/" + eventid + "/enable",
                function (Data) {
                    // Nothing to do
                })
                .fail(
                function (jqXHR, textStatus, err) {
                    $(".modal-body #errorModalText").text(err)
                    $('#errorModal').modal('show');
                });
        }
        function eventclickoff(eventid) {
            $.getJSON("events/" + eventid + "/disable",
                function (Data) {
                    // Nothing to do
                })
                .fail(
                function (jqXHR, textStatus, err) {
                    $(".modal-body #errorModalText").text(err)
                    $('#errorModal').modal('show');
                });
        }
    </script>

</body>
</html>